[Star]
teffStar = 3000
teffSpot = 2600
teffFac = 3100
# phot_model_file = ./BinnedNextGenModels/binned3000StellarModel.txt
# spot_model_file = ./BinnedNextGenModels/binned2600StellarModel.txt
# fac_model_file = ./BinnedNextGenModels/binned3100StellarModel.txt
# phot_model_file = ./btNextGenModels/lte030-5.0-0.0.BT-NextGen.7.dat.txt
# spot_model_file = ./btNextGenModels/lte026-5.0-0.0.BT-NextGen.7.dat.txt
# fac_model_file = ./btNextGenModels/lte031-5.0-0.0.BT-NextGen.7.dat.txt
phot_model_file = ./NextGenModels/RawData/lte03000-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5
spot_model_file = ./NextGenModels/RawData/lte02600-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5
fac_model_file = ./NextGenModels/RawData/lte03100-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5
starName = ProxCenRealistic
spotCoverage = 5
spotNumber = 7
facCoverage = 3
facNumber = 5
Mstar = 0.12
Rstar = 0.15
# Set this parameter to false after the hemisphere ma images and arrays are created
# Set this parameter to true if the user wants to create new hemispheres,
#   with different inclination, number of images, etc.
generateHemispheres = False
# Rotation of the star in days
Rotstar = 82.6
Inclination = 0
# Set to true if the user desires to bin the data to a specified resolving power
binData = True
# Set loadData to true if the values have been binned before and can simply nbe loaded for speed
loadData = True
# Desired resolving power that the program will bin the raw data to
resolvingPower = 500
binnedWavelengthMin = 0.2
binnedWavelengthMax = 20.0

[HemiMap]
# surface_map_file = ./ProxCen+TOI700d/flatMap.npy
flux_min = 0
flux_max = 0
high_res = True

# total_images = 36
# # 36 images across one half rotation (every 5 degrees)
# time_between_exposures = 1.14722222

# total_images = 72
# # 72 images across one full rotation (every 5 degrees)
# time_between_exposures = 1.14722222

# total_images = 100
# 100 images across one full rotation
# time_between_exposures = .826

# total_images = 360
# # one exposure per phase degree; 0-360
# time_between_exposures = .22944444444444

# total_images = 72
# # 72 images across one full rotation (every 5 degrees)
# time_between_exposures = 1.14722222

# # This is the number of exposures needed to capture every 10th degree image of ProxCen b as it revolves 7 times
# # It revolves 7 times in order to see the entire revolution of ProxCen
# total_images = 252
# 252 images across one full rotation (every 1.42857 degrees)
time_between_exposures = 0.32777778

[Spectra]
# num_bins = 2
# CO2
# list_bins = [(2,3), (4,4.5),(14.5,15.5)]
# H2O
# list_bins = [(1, 2), (2.25, 4)]
# normalized_bins = False

# [Variability]
# focused_wavelength = 5.0
# contour_plot_values = ./ProxCen/VariabilityGraphs/contourPlotValues.npy

[Planet]
hasPlanet = True
planetName = ProxCen B
transit = False
Rplanet = 4
Pplanet = 10
Impactplanet = 0
TransitDuration = 3.0

# Actual rev of ProxCen b is 11.18427
# 11.8 is used because it is a factor of 82.6, the rotation of ProxCen
revPlanet = 11.8
rotPlanet = 11.8
# Planet will change 10 degrees for each solar hemisphere image taken
planetPhaseChange = 10