# Config file uses ProxCen and ProxCen b as an example

# This section outlines the parameters necessary to create the variable stellar maps and data
[Star]
# Spot temp is .86% of star temp rounded to nearest hundred (Reference: Rackham, Apai, Giampapa 2018)
# Fac temp is star temp + 100 (Reference: Rackham, Apai, Giampapa 2018)
teffStar = 3000
teffSpot = 2600
teffFac = 3100

phot_model_file = ./NextGenModels/RawData/lte03000-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5
spot_model_file = ./NextGenModels/RawData/lte02600-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5
fac_model_file = ./NextGenModels/RawData/lte03100-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011.HR.h5

# Name of this star; program creates a folder for it and all the data/images/graphs produced
starName = ProxCenTest

spotCoverage = 10
spotNumber = 8

facCoverage = 5
facNumber = 5

# Mass and radius measurements in Solar radii and Solar mass
starMass = 0.12
starRadius = 0.1542

# Distance to Star in PC
starDistance = 1.3

# Rotation of the star in days
Rotstar = 82.6

Inclination = 0

# Set to true if the user desires to bin the data to a specified resolving power
# Has to match the resolving power and wavlength range of the PSG retrieval
binData = True

# Desired resolving power that the program will bin the raw data to
resolvingPower = 500
binnedWavelengthMin = 0.2
binnedWavelengthMax = 20.0

# Set loadData to true if the values have been binned before and can simply be loaded for speed
loadData = False

[HemiMap]
# Set this parameter to false after the hemisphere images and arrays are created
# Set this parameter to true if the user wants to create new hemispheres,
#   with different inclination, number of images, etc.
generateHemispheres = True

# Boolean to create higher resolution stellar hemisphere
high_res = False

# This is the number of exposures needed to capture every 10th degree image of this planet (Prox Cen b) as it revolves 7 times
# It revolves 7 times in order to see the entire revolution of the star (Prox Cen)
num_exposures = 252
# 252 images across one full rotation (every 1.42857 degrees)
time_between_exposures = 0.32777778

# Currently unused?? EDIT
[Spectra]
# Desired Wavelength Unit
wavelengthUnit = um
desiredFluxUnit = wumm2

[PSG]
planetName = ProxCenB
# Initial phase (degrees) for the simulation, 0 is sub-solar point, 180 is night-side
phase1 = 0.0
# Final phase (degrees)
phase2 = 360.0
# Phase delta value (degrees)
dphase = 5.0
# Binning applied to the GCM data for each radiative-transfer (greater is faster, minimum is 1)
binning= 200
# Diamater of prox-cen b (km)
objDiam = 13649.631
# Surface Grav of prox cen b (m/s^2)
objGrav = 10.78
# Type of star; M-type dwarf star by default
starType = M
# Semi Major Axis of planet (AU)
semMajAx = 0.0485
# Period of planet (days)
objPer = 11.18427
# Eccentricity of planet
objEcc = 0.124
# Distance to system (uses distance to star) (pc)
objDis = 1.3
# Temperature of star; ProxCen's temp is really 3042, but need to use 3000 for later conversion
starTemp = 3000
# Radius of the star
starRad = 0.1542
# Initial wavelength of the simulations (um)
lam1   = 0.2
# Final wavelength of the simulations (um)
lam2   = 20.0
# Resolving power
lamRP  = 500.0
# Beam value and unit used to also retrieve stellar flux values, not just planet
beamValue = 1
beamUnit = arcsec
# Desired spectral irradiance unit for planet and star combo
radunit = Wm2um
# URL of the PSG server
psgurl = https://psg.gsfc.nasa.gov

# Actual rev of ProxCen b is 11.18427
# 11.8 is used because it is a factor of 82.6, the rotation of ProxCen
revPlanet = 11.8
rotPlanet = 11.8
# Planet will change 10 degrees for each solar hemisphere image taken
planetPhaseChange = 10

# Decide what plots you want to create/recreate. After initially creating some plots, turning their
# boolean value to false in this config will save time while creating other plots.
[Plots]
# Plots the lightcurve of the star. Shows the variation caused by the spots and faculae.
plotLightCurve = True

# Plots the maximum flux change achieved when comparing the average of the currentlinearly combined stellar
# flux to the initial linearly combined stellar flux
plotMaxFluxChange = True

# Plot the variable star planet reflection flux / PSG blackbody reflection flux
# Mostly shows the difference between the PSG stellar model and the chosen stellar model (NextGen by default)
plotPlanetContrast = True

# Plot the varibale planet flux at phase 0 (Behind the star, maximum reflection) / the inital phase 0
# By comparing the same phase (phase 0) and the same stellar model (NextGen), this graph will show the difference
# in relflected flux caused by the star's varying surface
plotPlanetVariationContrast = True

# Plot the star's flux
plotStellarFlux = True

[Gifs]