table.align-default{
    width: 100%;
    text-align: center
}
table.align-default th:nth-child(1),
table.align-default td:nth-child(1),
table.align-default th:nth-child(2),
table.align-default td:nth-child(2) {
    width: 50%;
}
